@import"reset";
@import"fonts";
@import"varible";



body {
  font-size: 14px;
  font-family: $main-font, sans-serif;
  color: $font-color;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}








// Media Queries
@import"media";